:root{
    /* CSS HSL */
    --gamboge: hsla(40, 98%, 47%, 1);
    --tangerine: hsla(33, 96%, 48%, 1);
    --cinnabar: hsla(13, 68%, 54%, 1);
    --space-cadet: hsla(227, 47%, 24%, 1);
    --caput-mortuum: hsla(7, 57%, 22%, 1);
}
.grid{
    display: flex;
    gap: 2px;
    height: 200px;
    width: 100%;
}

.img-principal{
    display: flex;

}
.img-principal img{
    width: 100%;
}

.img-auxiliares{
    display: flex;
    flex-direction: column;
    gap: 1px;
    width: 25%;
    height: 200px;
    overflow: scroll;
}
.img-auxiliares img{
    display: flex;
    height: fit-content;
    width: 100%;
}

.backGaleria{
    position: relative;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
.backGroundGallery{
    z-index: 10000;
    position: relative;
    position: absolute;
    height: 100%;
}
.visualizacao{
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.backFilter{
    transition: 100ms;
    z-index: 999;
    position: absolute;
    top: 0;
    opacity: 0.9;
    background-color: #1b1b1b;
    width: 100%;
    filter: blur(1px);
}
.visualizacao img{
    z-index: 1000;
    position: absolute;
    display: flex;
    width: 100%;
    left: 0;
}

.x-button{
    width: 25px;
    height: 2px;
    background-color: black;
    border: solid 1px #1b1b1b;
    transform: rotate(45deg);
}
.close-button{
    display: flex;
    z-index: 10000;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    background-color: #e7e7e7;
}
.closeNone{
    display: none;
}
.x-button::after{
    content: '';
    position: absolute;
    top: -1px;
    width: 23px;
    height: 2px;
    background-color: black;
    transform: rotate(90deg);
}
.detalhes{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
