#homePageHeader{
    background-color: #c0c0c0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    padding-left: 3em;
    padding-right: 3em;
}
#homeLogo{
    display: flex;
    align-items: center;
}
#homeLogo img{
    width: 2.5em;
    margin-right: 20px;
}
#homePageHeader nav ol{
    display: flex;
    gap: 10px;
}
#homePageHeader nav ol li{
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    transition: 200ms;
    
}
#homePageHeader nav ol li:hover{
    background-color: white;
}

#menu img{
    width: 30px;
}
#menu{
    cursor: pointer;
}

@media (max-width: 700px) {
    
    ol{
        z-index: 1000;
        position: absolute;
        top: 4em;
        right: 0;
        width: 0%;
        background-color: aqua;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        transition: 200ms ease-in-out;
    }
    .extended{
        width: 100%;
    } 
    .retracted{
        width: 0%;
    }
    #menu{
        z-index: 10000;
    }
}

footer p {
    font-size: 0.8em;
}