main{
    margin-top: 4em;
    padding-bottom: 10px;
}
.activities-link{
    display: flex;
    align-items: center;
    justify-content: center;
}
.activities-button{
    background-color: #ffa600;
    padding: 10px 20px;
    width: 200px;
    border-radius: 20px;
    transition: 100ms ease-in-out;
}
.activities-button p{
    color: hsl(0, 0%, 100%);
    font-size: 18px;
}

.activities-button:hover{
    background-color: transparent;
}

.hamburguer{
    background-color: #fff;
}

@media (max-width: 1000px) {
    #info{
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    .activitie img{
        width: 100%;
        max-height: 300px;
    }
    #img-description{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 10px;
    }
    #img-description a{
        width: 100%;
    }
    .description{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 20px;
        width: 100%;
    }
    .description h1{
        font-size: 20px;
        margin-bottom: 10px;
        font-weight: bold;
    }
    .description p{
        font-size: 16px;   
    }
    .activitie{
        flex-direction: column;
    }
    #image-description{
        width: 100%;
    }
    
    .conpound{
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-radius: 20px;
        background-color: hsl(0, 0%, 100%);
    }
}

@media (min-width: 1000px) {
    #info{
        display: flex;
        flex-wrap: wrap;
    }
    .activitie img{
        width: 100%;
        height: 200px;
        border-radius: 20px 20px 0 0;
    }
    #img-description{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 20px;
    }
    .description{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
        width: 100%;
    }
    .description h1{
        margin-bottom: 10px;
    }
    .activitie{
        flex-direction: column;
        padding: 10px;
        width: 300px;
        height: 400px;
    }
    #image-description{
        width: 100%;
        padding: 10px;
    }
    
    .conpound{
        border-radius: 20px;
        background-color: hsl(0, 0%, 100%);
    }    
}

