#cabecalho{
    background-color: #1b1b1b;
    width: 100%;
    height: 100vh;
    color: #fff;
}

#landingNavigation{
    height: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
}

#landingNavigation #landingLogo{
    display: flex;
    align-items: center;
}
#landingLogo h2{
    color: hsl(0, 0%, 100%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}
#landingNavigation #landingLogo img{
    width: 2.5em;
    margin-right: 20px;
}

#landingNavigation ol{
    display: flex;
    list-style: none;
    gap: 10px;
}

#landingNavigation ol li{
    padding: 10px 20px 10px 20px;
    border-radius: 5em;
    transition: 200ms ease-in-out;
}
#landingNavigation ol li:hover{
    background-color: white;
}

#landingMainText{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    height: calc(100% / 1.5 - 4em);

}

.primeira{
    background-image: url(../imagens/primeira_img.jpg);
    background-position: top;
    background-size: cover;
    animation-name: backanimation;
    animation-duration: 200ms;
}

@keyframes backanimation {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.segunda{
    background-image: url(../imagens/1749555959361.jpg);
    background-position: top;
}
.terceira{
    background-image: url(../imagens/1749556013214.jpg);
    background-position: top;
}
.quarta{
    background-image: url(../imagens/1749556152476.jpg);
    background-position: top;
}
.quinta{
    background-image: url(../imagens/1749556265346.jpg);
    background-position: top;
}

#landingMainText div{
    bottom: -100px;
    background-color: #c0c0c0;
    border-radius: 5px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#blur{
    background-color: #1b1b1b;
    opacity: 70%;
    filter: blur(15px);
    width: 100%;
    height: 100%;
}

#tema{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}
#tema p{
    color: hsl(0, 0%, 100%);
    text-align: center;
    font-size: 20px;
}
#tema h1{
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-size: 30px;
}

#landingMainText #box{
    position: absolute;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0 10px;
    width: 100%;
}

.icon_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.icon_box img{
    width: 70px;
}

.icon_box .description_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 5px;
}

.icon_box .description_box p{
    text-align: center;
}

#landingFooter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    color: white;
}

.outline{
    position: absolute;
    bottom: 20px;
    left: 50%;
    translate: -23px;
    padding: 15px;
    border-radius: 50%;
}
#seta-para-baixo{
    width: 20px;
    height: 20px;
    border-bottom: 2px solid hsl(0, 100%, 100%);
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid hsl(0, 100%, 100%);
    transform: rotate(45deg);
}

main{
    background-color: #fff;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.firstSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.landingDescription{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    line-height: 24px;
}
.landingFirstImg{
    width: 100%;
}
.landingFirstImg img{
    width: 100%;
    max-height: 300px;
    min-height: 200px;
}
.landingDescription h2{
    font-size: 28px;
}
.landingDescription p{
    font-size: 16px;
}

iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
}

@media (min-width: 1000px) {
    #landingNavigation ol li{
        color: #fff;
    }
    #landingNavigation ol li:hover{
        color: #000;
    }
}