#cabecalho{
    background-color: #1b1b1b;
    width: 100%;
    height: 100vh;
}

#landingNavigation{
    height: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 3em;
    padding-right: 3em;
}

#landingNavigation #landingLogo{
    display: flex;
    align-items: center;
}
#landingNavigation img{
    width: 2.5em;
    margin-right: 20px;
}

#landingNavigation ol{
    display: flex;
    list-style: none;
    gap: 10px;
}

#landingNavigation ol li{
    padding: 10px 20px 10px 20px;
    border-radius: 5em;
    transition: 200ms ease-in-out;
}
#landingNavigation ol li:hover{
    background-color: white;
}

#landingMainText{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    height: calc(100% / 1.5 - 4em);

}

.primeira{
    background-image: url(../imagens/primeira_img.jpg);
}
.segunda{
    background-image: url(../imagens/1749555959361.jpg);
}
.terceira{
    background-image: url(../imagens/1749556013214.jpg);
}
.quarta{
    background-image: url(../imagens/1749556152476.jpg);
}.quinta{
    background-image: url(../imagens/1749556265346.jpg);
}

#landingMainText div{
    bottom: -100px;
    background-color: #c0c0c0;
    border-radius: 5px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#blur{
    background-color: #c0c0c0;
    opacity: 70%;
    filter: blur(15px);
    width: 100%;
    height: 100%;
}

#tema{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

#tema p{
    text-align: center;
}

#landingMainText #box{
    position: absolute;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0 10px;
    width: 100%;
}

.icon_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.icon_box img{
    width: 70px;
}

.icon_box .description_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 5px;
}

.icon_box .description_box p{
    text-align: center;
}

#landingFooter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    color: white;
}

#seta-para-baixo{
    position: absolute;
    bottom: 20px;
    left: 50%;
    translate: -10px;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid hsl(0, 100%, 100%);
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid hsl(0, 100%, 100%);
    transform: rotate(45deg);
}

main{
    background: linear-gradient(to bottom, #1b1b1b, #525252);
    color: #fff;
}