:root{
    /* CSS HSL */
    --gamboge: hsla(40, 98%, 47%, 1);
    --tangerine: hsla(33, 96%, 48%, 1);
    --cinnabar: hsla(13, 68%, 54%, 1);
    --space-cadet: hsla(227, 47%, 24%, 1);
    --caput-mortuum: hsla(7, 57%, 22%, 1);
}
main{
    display: flex;
    flex-direction: column;
}
.noticia{
    display: flex;
    background-color: hsl(0, 0%, 100%);
    border-bottom: 1px solid #000;
}
@media (min-width: 700px) {
    
    .noticia-atual{
        width: 100%;
    }
    .noticia-atual section{
        background: linear-gradient(to top, #1b1b1b, transparent 75%);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 400px;
        position: relative;
        display: flex;
    }
    .noticia-atual .noticia-componentes{
        display: flex;
        align-items: flex-end;
        padding: 32px;
        color: #fff;
    }
    .noticia-atual .texto h2, .noticia-atual .texto p{
        color: #fff;
    }
    .noticia-atual .texto p{
        font-size: .9em;
    }
    .backImage{
        background: url('../imagens/nacaj fascin subsidio.jpg');
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
}
@media (max-width: 700px) {
    
    .noticia{
        align-items: center;
        justify-content: center;
    }
}
ul{
    padding-left: 30px;
}

ul li{
    list-style: disc;

}
.noticia-componentes{
    display: flex;
    align-items: center;
    gap: 10px;
}
.noticia-imagem{
    display: flex;
    align-items: center;
    justify-content: center;
}
.noticia-imagem img{
    width: 110px;
    height: 110px;
}

.noticia-texto{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-right: 5px;
}
.noticia-texto h2{
    font-size: 16px;
}

.noticia-texto .texto{
    display: flex;
    flex-direction: column;
    gap: 8px;
}


/*Detalhe das noticias*/

img{
    width: 100%;
}

.noticias-detalhadas{
    padding: 15px;
}
.noticia-detalhes{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.noticia-detalhes h1{
    font-size: 20px;
}

.paragrafos{
    display: flex;
    flex-direction: column;
    gap: 7px;
}