:root{
    /* CSS HSL */
    --gamboge: hsla(40, 98%, 47%, 1);
    --tangerine: hsla(33, 96%, 48%, 1);
    --cinnabar: hsla(13, 68%, 54%, 1);
    --space-cadet: hsla(227, 47%, 24%, 1);
    --caput-mortuum: hsla(7, 57%, 22%, 1);
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    border: none;
    outline: none;
    color: hsl(0, 0%, 0%);
}
